<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">myNBA</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/favTeam">FavoriteTeam</a></li>
                    <li><a href="/schedule">TeamSchedule</a></li>
                    <li><a href="/standing">TeamStanding</a></li>
                    <li><a th:href="@{/signin}">Admin Signin</a></li>
                    <li><a th:href="@{/userLogin}">User Signin</a></li>
                    <li><a id="logout" th:href="@{/userLogout}" onclick="FBlogout()" class="btn btn-success">Logout</a></li>
                  </ul>
                </div>
              </nav>

    <div class="container">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">UserID</th>
                        <th scope="col">userName</th>
                        <th scope="col">lastLogin</th>
                        <th scope="col">Status</th>
                        <th scope="col">Blcok</th>
                        <th scope="col">Unblock</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getUserId()}"></td>
                            <td th:text="${user.getUserName()}"></td>
                            <td th:text="${user.getLastLogin()}"></td>
                            <td th:text="${user.getStatus()}"></td>
                            <td><a th:href="@{/blockID(uID=${user.getUserId()})}">Block</a> </td>
                            <td><a th:href="@{/unblockID(uID=${user.getUserId()})}">Unblock</a> </td>
                        </tr>
                    </tbody>
                  </table>
    </div>

</body>
</html>
